#fly {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 20%;
    height: 40px;
    padding: 10px;
    /* border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65; */
}

#coordinates_button {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 20%;
    height: 40px;
    padding: 10px;
    /* border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65; */
}

#coordinates_div {
    margin-left: 10px;
    width: 20%;
}

#footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
}

#description {
    background-color: azure;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding-top: 8px;
}